@import "tailwindcss";
html {
  overflow-y: scroll;
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 4px;
  }
}
:root {
  --background: rgb(9, 9, 11);
}
* {
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}
